{
  "presets": [
    "es2015"    
  ],
  "env": {
    "development": {
      "presets": [
        "es2015"
      ]
    },
    "test": {
      "presets": [
        "es2015"
      ]
    }
  },
  "sourceMaps": true,
  "comments": false
}